.nav-active{
  text-decoration: underline !important;
  color: blue !important;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  /* min-height: 400px; */
  padding: 20px;
}
.spinner-border{
  width: 100%;
}

.card-body {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-img-top {
  width: 90%;
  height: 350px;
}

/* Additional styling for spacing and visual consistency */
.container {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}
